name: Deploy Node App to Azure App Service

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '14.0'

      - name: Install dependencies
        run: npm install

      - name: Build (optional)
        run: npm run build || echo "No build step"

      - name: Zip the app
        run: zip -r app.zip .

      - name: Deploy to Azure App Service
        uses: azure/webapps-deploy@v2
        with:
          app-name: dev-test-v1
          publish-profile: ${{ secrets.NODEDEVTESTAZUREAPP }}
          package: .